.dark-theme {
  background-color: #212121;
  color: white;
}

.thumbnail {
  justify-content: space-between;
  width: 90%;
}
.screen {
  position: relative;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container {
  padding: 8px 42px;
}

// div tela inicial
.select-players {
  flex-direction: column;
  align-items: center;
}

// button ready
.btn {
  width: 90%;
  border-radius: 8px;
  border: 1px solid #00c853;
  background-color: #00c853;
  font-size: 32px;
  color: white;
  padding: 20px 36px;
  margin-top: 48px;
  transition: .3s;
}
.btn:hover {
  background-color: #00e676;
}

// responsividade
@media screen and (min-width: 576px) {
  .thumbnail {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .thumbnail {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .thumbnail {
    width: 40%;
  }
}
